.container {
  display: flex;
  flex-direction: column;

  gap: 24px;
}

.grid {
  display: grid;

  gap: 24px;

  grid-template-columns: 1fr 1fr;
}

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: 1fr;
  }
}