/* ==================================================
   RESET
================================================== */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

/* ==================================================
   DOCUMENT
================================================== */

html,
body {
  width: 100%;
  min-height: 100%;
}

html {
  font-size: 16px;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* ==================================================
   BODY
================================================== */

body {
  overflow-x: hidden;
}

/* ==================================================
   MEDIA
================================================== */

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* ==================================================
   TABLES
================================================== */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ==================================================
   FORMS
================================================== */

button,
input,
select,
textarea {
  font: inherit;
}

/* ==================================================
   LISTS
================================================== */

ul,
ol {
  list-style: none;
}
