@use "@/styles/abstracts/breakpoints" as *;

.wrapper {
  display: flex;
  min-height: 100vh;
  background: var(--surface-primary);
  overflow-x: hidden;
}

/* MAIN DESKTOP */
.main {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 280px;

  /* tablet -> sidebar colapsada */
  @include down-md {
    padding-left: 80px;
  }

  /* mobile -> sidebar vira drawer/topbar */
  @include down-sm {
    padding-left: 0;
  }
}

/* CONTENT */
.content {
  flex: 1;
  min-width: 0;
  padding: var(--spacing-lg);
  background: var(--surface-primary);

  @include down-md {
    padding: var(--spacing-md);
  }

  @include down-sm {
   padding: var(--spacing-sm);
  }
}
