.header {
  height: 72px;

  display: flex;
  align-items: center;

  padding: 0 var(--spacing-lg);

  background: var(--surface-secondary);

  border-bottom: 1px solid var(--border-primary);

  transition:
    background var(--transition-normal),
    border-color var(--transition-normal);
}
