/* ==================================================
   BREAKPOINTS
================================================== */

$bp-xs: 480px;
$bp-sm: 640px;
$bp-md: 768px;
$bp-lg: 1024px;
$bp-xl: 1280px;
$bp-xxl: 1366px;
$bp-2xl: 1536px;

/* ==================================================
   MAX WIDTH (Desktop First)
================================================== */

@mixin down-xs {
  @media (max-width: $bp-xs) {
    @content;
  }
}

@mixin down-sm {
  @media (max-width: $bp-sm) {
    @content;
  }
}

@mixin down-md {
  @media (max-width: $bp-md) {
    @content;
  }
}

@mixin down-lg {
  @media (max-width: $bp-lg) {
    @content;
  }
}

@mixin down-xl {
  @media (max-width: $bp-xl) {
    @content;
  }
}

@mixin down-xxl {
  @media (max-width: $bp-xxl) {
    @content;
  }
}

@mixin up-xxl {
  @media (min-width: $bp-xxl) {
    @content;
  }
}
/* ==================================================
   MIN WIDTH (Mobile First)
================================================== */

@mixin up-xs {
  @media (min-width: $bp-xs) {
    @content;
  }
}

@mixin up-sm {
  @media (min-width: $bp-sm) {
    @content;
  }
}

@mixin up-md {
  @media (min-width: $bp-md) {
    @content;
  }
}

@mixin up-lg {
  @media (min-width: $bp-lg) {
    @content;
  }
}

@mixin up-xl {
  @media (min-width: $bp-xl) {
    @content;
  }
}

@mixin up-2xl {
  @media (min-width: $bp-2xl) {
    @content;
  }
}

/* ==================================================
   RANGE
================================================== */

@mixin between($min, $max) {
  @media (min-width: $min) and (max-width: $max) {
    @content;
  }
}
