/* ==================================================
   ETHOS COLORS
================================================== */

$ethos-gold: #fbb755;

$bl11: #020617;
$bl10: #04142f;
$bl09: #061d44;
$bl08: #0a2558;
$bl07: #12306e;

$grl01: #ffffff;
$grl02: #f8fafc;
$grl03: #e2e8f0;

$success: #22c55e;
$danger: #ef4444;
$warning: #fbbf24;
$info: #38bdf8;
