.table {
  width: 100%;

  border-collapse: collapse;

  background: var(--surface-card);

  border-radius: 20px;

  overflow: hidden;
}

.table th {
  background: var(--surface-secondary);
}

.table th,
.table td {
  padding: 16px;
}